<mat-card>
    <mat-card-header>
        <fa-icon mat-card-avatar [icon]="settingsIcon"></fa-icon>
        <mat-card-title>Configure Skills</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p class="mat-body">
            Some skills include settings that can change how the skill behaves or provide
            information to the skill that will improve the user experience.  To change the
            settings of your skills, for instance the sound of your alarm, go to Skill Settings.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <a mat-button [href]="settingsUrl">SKILL SETTINGS</a>
    </mat-card-actions>
</mat-card>
