<mat-expansion-panel>
    <mat-expansion-panel-header class="mat-h2-primary">{{panelTitle}}</mat-expansion-panel-header>
    <div class="mat-body">{{instructions}}</div>
    <ng-template matExpansionPanelContent>
        <mat-radio-group fxLayout="column" [value]="currentValue.name">
            <ng-container *ngFor="let possibleValue of possibleValues$ | async">

                <!-- Radio buttons for pre-defined placements -->
                <mat-radio-button *ngIf="!possibleValue.userDefined" class="predefined-group" [value]="possibleValue.name">
                    {{possibleValue.name}}
                </mat-radio-button>

                <!-- Radio buttons for user-defined placements -->
                <div *ngIf="possibleValue.userDefined" fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-radio-button [value]="possibleValue.name">
                        <mat-form-field [floatLabel]="'never'">
                            <input matInput class="user-defined-group" value="{{possibleValue.name}}">
                        </mat-form-field>
                    </mat-radio-button>
                    <button mat-icon-button [disableRipple]="true">
                        <fa-icon [icon]="deleteIcon"></fa-icon>
                    </button>
                </div>

            </ng-container>

            <!-- Radio button to add a new user-defined group -->
            <mat-radio-button *ngIf="userCanAdd">
                <mat-form-field [floatLabel]="'never'">
                    <input matInput placeholder="Add {{panelTitle}}">
                </mat-form-field>
            </mat-radio-button>
        </mat-radio-group>

        <mat-action-row align="end">
            <button mat-button (click)="onCancelClick()">CANCEL</button>
            <button mat-button class="attribute-save-button">SAVE</button>
        </mat-action-row>
    </ng-template>
</mat-expansion-panel>
