<mat-card class="mat-elevation-z0" id="required-settings-card" [formGroup]="preferencesForm">
    <mat-card-title *ngIf="deviceSetup">Setup your device preferences</mat-card-title>
    <mat-card-title *ngIf="!deviceSetup">Manage your device preferences</mat-card-title>
    <mat-card-content fxLayout="column">
        <p class="mat-body">
            Preferences are applied to all your devices to present information
            in a manner you are accustomed to.
        </p>
        <account-option-buttons
                [config]="measurementOptionsConfig"
                [selectedOption]="preferencesForm.controls['measurementSystem'].value"
                (selectionChange)="changeMeasurementSystem($event)"
        >
        </account-option-buttons>
        <account-option-buttons
                [config]="timeFormatOptionsConfig"
                [selectedOption]="preferencesForm.controls['timeFormat'].value"
                (selectionChange)="changeTimeFormat($event)"
        >
        </account-option-buttons>
        <account-option-buttons
                [config]="dateFormatOptionsConfig"
                [selectedOption]="preferencesForm.controls['dateFormat'].value"
                (selectionChange)="changeDateFormat($event)"
        >
        </account-option-buttons>
    </mat-card-content>
    <mat-card-actions align="right" *ngIf="!deviceSetup">
        <button mat-button (click)="onSave()" [disabled]="!preferencesForm.valid">SAVE</button>
    </mat-card-actions>
</mat-card>

<!--<mat-card *ngIf="!deviceSetup" id="advanced-settings-card">-->
    <!--<mat-toolbar>-->
        <!--<span class="section-card-title">Advanced Settings</span>-->
    <!--</mat-toolbar>-->
    <!--<div fxLayout="column" class="section-content">-->
        <!--<div class="mat-body" *ngFor="let paragraph of advancedSettingsDesc">-->
            <!--<p>{{paragraph}}</p>-->
        <!--</div>-->
        <!--<button mat-flat-button>VIEW DOCUMENTATION</button>-->
    <!--</div>-->
<!--</mat-card>-->
