<mat-card class="mat-elevation-z0" [formGroup]="sshForm">
    <mat-card-content>
        <h2 class="mat-h2">SSH</h2>
        <mat-slide-toggle color="primary" [checked]="sshEnabled" (change)="onSshEnabledChange($event)">
            Enable remote device access using SSH
        </mat-slide-toggle>
        <p [hidden]="hideSshInput">
            <mat-form-field appearance="outline">
                <mat-label>Public SSH Key</mat-label>
                <textarea matInput required formControlName="sshPublicKey"></textarea>
                <mat-hint>{{sshKeyHint}}</mat-hint>
            </mat-form-field>
        </p>
    </mat-card-content>
</mat-card>
