<div id="add-device-button" fxLayout="row" fxLayoutAlign="start center" routerLink="/devices/add">
    <img src="../assets/generic-device-icon-blue.svg">
    <span fxFlex class="mat-h2">ADD DEVICE</span>
    <fa-icon class="mat-h2" [icon]="addIcon"></fa-icon>
</div>

<div fxLayout="row wrap" fxLayoutGap.gt-xs="16px">
    <mat-card *ngFor="let device of devices">
        <mat-card-title fxLayout="row" fxLayoutAlign="start center">
            <img [src]="getDeviceIcon(device)"/>
            {{device.name}}
        </mat-card-title>
        <account-device-info [device]="device"></account-device-info>
        <!--<mat-card-actions>-->
            <!--<button mat-flat-button color="warn" (click)="onRemovalClick(device)">-->
                <!--REMOVE-->
            <!--</button>-->
            <!--<button mat-flat-button color="primary" (click)="onDeviceEdit(device)">-->
                <!--EDIT-->
            <!--</button>-->
        <!--</mat-card-actions>-->
    </mat-card>
</div>
