@import "@angular/material/theming";
@import 'mycroft-colors';

.mat-h1 {
    color: mat-color($mycroft-accent, A700);
    font-weight: bold;
    margin-bottom: 8px;
}

a {
    color: mat-color($mycroft-primary);
    text-decoration: none;
}

.mat-subheading-2 {
    color: mat-color($mycroft-accent, A700);
    text-align: center;
}

mat-card {
    background-color: mat-contrast($mycroft-primary, 500);
    border-radius: 10px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 16px;
    width: 320px;

    .mat-subheading-2 {
        margin-bottom: 0;
    }
}
