@import "../../../../../../../node_modules/@angular/material/theming";
@import 'mycroft-colors';
@import "../../../../../../../src/stylesheets/components/buttons";


h2 {
    color: mat-color($mycroft-primary);
}

mat-form-field {
    min-width: 270px;
}

#cancel-button {
    margin-top: 8px;
}

#submit-button {
    @include action-button-primary;
    margin-top: 8px;
}

.mat-dialog-actions {
    margin: 0;
    padding-bottom: 0;
}
