@import "~@angular/material/theming";
@import 'mycroft-colors';
@import "components/buttons";

form {
    border-radius: 10px;
    padding: 20px;

    fa-icon {
        color: mat-color($mycroft-accent, A700);
        margin-right: 15px;
    }

    mat-checkbox {
        color: mat-color($mycroft-accent, A700);
    }
    #forgot-password {
        margin-left: 30px;
    }

    button {
        @include action-button-primary;
        margin-top: 30px;
        text-align: center;
    }

}

.mat-body-2 {
    color: red;
    padding: 15px;
}
