<mat-tab-group>
    <mat-tab label="Configuration">
        <mat-card-content fxLayout="row wrap">
            <account-display-field
                    fxFlex="50"
                    [label]="'Voice'"
                    [value]="device.voice.name"
            >
            </account-display-field>
            <account-display-field
                    fxFlex="50"
                    [label]="'Wake Word'"
                    [value]="device.wakeWord.name"
            >
            </account-display-field>
            <account-display-field
                    fxFlex="33"
                    [label]="'Platform'"
                    [value]="device.platform"
            >
            </account-display-field>
            <account-display-field
                    fxFlex="33"
                    [label]="'Core Version'"
                    [value]="device.coreVersion"
            >
            </account-display-field>
            <account-display-field
                    fxFlex="33"
                    [label]="'Enclosure Version'"
                    [value]="device.enclosureVersion"
            >
            </account-display-field>
        </mat-card-content>
    </mat-tab>

    <mat-tab label="Location">
        <mat-card-content fxLayout="row wrap">
            <account-display-field
                    fxFlex="50"
                    [label]="'Country'"
                    [value]="device.geography.country"
            >
            </account-display-field>
            <account-display-field
                    fxFlex="50"
                    [label]="'Time Zone'"
                    [value]="device.geography.timezone"
            >
            </account-display-field>
            <account-display-field
                    fxFlex="50"
                    [label]="'Region'"
                    [value]="device.geography.region"
            >
            </account-display-field>
            <account-display-field
                    fxFlex="50"
                    [label]="'City'"
                    [value]="device.geography.city"
            >
            </account-display-field>
            <mat-form-field>
                <mat-label>Placement</mat-label>
                <input matInput readonly type="text" value="{{device.placement}}">
                <mat-hint>e.g. Kitchen, Bedroom, Office</mat-hint>
            </mat-form-field>
        </mat-card-content>
   </mat-tab>
</mat-tab-group>
