<!-- This represents a single skill on the skill summary page -->
<mat-card>
    <!-- Make the entire card a clickable button that routes to the details -->
    <div [routerLink]="['/skills', skill.id]">
        <market-skill-card-header [skill]="skill"></market-skill-card-header>
        <mat-card-title align="center">
            {{skill.displayName ? skill.displayName : '&nbsp;'}}
        </mat-card-title>
        <mat-card-subtitle fxLayoutAlign="center">
            <div id="skill-trigger">
                <fa-icon [icon]="voiceIcon"></fa-icon>
                {{skill.trigger}}
            </div>
        </mat-card-subtitle>
        <mat-card-content [innerHTML]="skill.summary ? skill.summary : '&nbsp;'">
        </mat-card-content>
    </div>
<!--  The install button is commented out until the functionality behind it can be fixed.  -->
<!--    <mat-card-actions>-->
<!--        <market-skill-install-button [skill]="skill" [component]="'skillSummary'">-->
<!--        </market-skill-install-button>-->
<!--    </mat-card-actions>-->
</mat-card>
