@import "../../../../../../../node_modules/@angular/material/theming";
@import "mycroft-colors";
@import "../../../../../../../src/stylesheets/components/buttons";
@import "../../../../../../../src/stylesheets/components/cards";

.mat-h1 {
    color: mat-color($mycroft-primary)
}
mat-card {
    @include section-card;
    max-width: 700px;
}

#basic-settings-card {
    margin-top: 16px;

    mat-button-toggle-group {
        @include options-button-group;

        mat-button-toggle {
            width: 130px;
        }
    }

    mat-label {
        margin-bottom: 8px;
        margin-top: 16px;
    }
}

#advanced-settings-card {
    button {
        @include action-button-primary;
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;
    }
}
