@import '~@angular/material/theming';
@import 'mycroft-colors';

@mixin install-status {
    border-radius: 4px;
    letter-spacing: 0.5px;
}

// The angular material spinner was limiting in color choices we built our own
@mixin spinner-common {
    animation: spin 1s ease-in-out infinite;
    border: 2px solid rgba(255,255,255,.3);
    border-radius: 50%;
    display: inline-block;
    height: 15px;
    margin-right: 10px;
    width: 15px;
}
@keyframes spin {
    to { transform: rotate(360deg); }
}

fa-icon {
    margin-right: 10px;
    opacity: 0.6;
}

#install-button {
    @include install-status;
    background-color: mat-color($mycroft-primary) ;
    color: mat-contrast($mycroft-primary, 500);
}
#install-button:hover {
    @include install-status;
    background-color: mat-color($mycroft-accent, A100);
    color: mat-color($mycroft-accent);
}

#installed-button {
    @include install-status;
}

#installing-button {
    @include install-status;
    background-color: mat-color($mycroft-accent, A100);;
    color: mat-color($mycroft-accent);
    mat-spinner {
        float: left;
        margin-right: 10px;
        margin-top: 7px;
    }
}
#installing-spinner {
    @include spinner-common;
    border-right-color: mat-color($mycroft-accent);
    border-top-color: mat-color($mycroft-accent);
}


#uninstall-button {
    @include install-status;
    background-color: mat-color($mycroft-accent, A700);
    color: mat-contrast($mycroft-accent, 500);
}
.uninstall-button:hover {
    @include install-status;
    border: none;
    background-color: mat-color($mycroft-warn);
    color: mat-contrast($mycroft-primary, 500);
}

#uninstalling-button {
    @include install-status;
    background-color: mat-color($mycroft-warn);
    color: mat-contrast($mycroft-primary, 500);
}
#uninstalling-spinner {
    @include spinner-common;
    border-right-color: mat-contrast($mycroft-primary, 500);
    border-top-color: mat-contrast($mycroft-primary, 500);
}
