<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <label matTooltip="Information">
                <fa-icon [icon]=infoIcon></fa-icon>
            </label>
        </ng-template>
        <mat-card-content fxLayout="row wrap">
            <account-display-field
                    [label]="'Platform'"
                    [value]="getPlatform(device)"
            >
            </account-display-field>
            <account-display-field *ngIf="device.platform === 'mycroft_mark_1'"
                    [label]="'Enclosure Version'"
                    [value]="device.enclosureVersion"
            >
            </account-display-field>
            <account-display-field *ngIf="device.platform === 'mycroft_mark_2'"
                    [label]="'Hardware Version'"
                    [value]="device.enclosureVersion"
            >
            </account-display-field>
            <account-display-field
                    [label]="'Mycroft Version'"
                    [value]="device.coreVersion"
            >
            </account-display-field>
            <account-display-field *ngIf="device.pantacorConfig.pantacorId"
                    [label]="'IP Address'"
                    [value]="device.pantacorConfig.ipAddress"
            >
            </account-display-field>
            <button
                mat-flat-button
                *ngIf="!device.pantacorConfig.autoUpdate" (click)="applySoftwareUpdate()"
                fxFlex
                [disabled]="softwareUpdateDisabled"
            >
                {{softwareUpdateText}}
            </button>
        </mat-card-content>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <label matTooltip="Configuration">
                <fa-icon [icon]=configIcon></fa-icon>
            </label>
        </ng-template>
        <mat-card-content fxLayout="row wrap">
            <account-display-field
                    [label]="'Voice'"
                    [value]="device.voice.displayName"
            >
            </account-display-field>
            <account-display-field
                    [label]="'Wake Word'"
                    [value]="device.wakeWord.name"
            >
            </account-display-field>
            <account-display-field *ngIf="device.pantacorConfig.pantacorId"
                    [label]="'Automatic Updates'"
                    [value]="device.pantacorConfig.autoUpdate ? 'Enabled' : 'Disabled'"
            >
            </account-display-field>
            <account-display-field *ngIf="device.pantacorConfig.pantacorId"
                    [label]="'Channel'"
                    [value]="device.pantacorConfig.releaseChannel"
            >
            </account-display-field>
            <account-display-field *ngIf="device.pantacorConfig.pantacorId"
                    [label]="'SSH'"
                    [value]="device.pantacorConfig.sshPublicKey ? 'Enabled' : 'Disabled'"
            >
            </account-display-field>
        </mat-card-content>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <label matTooltip="Location">
                <fa-icon [icon]=locationIcon></fa-icon>
            </label>
        </ng-template>
        <mat-card-content fxLayout="row wrap">
            <account-display-field
                    [label]="'Country'"
                    [value]="device.country.name"
            >
            </account-display-field>
            <account-display-field
                    [label]="'Time Zone'"
                    [value]="device.timezone.name"
            >
            </account-display-field>
            <account-display-field
                    [label]="'Region'"
                    [value]="device.region.name"
            >
            </account-display-field>
            <account-display-field
                    [label]="'City'"
                    [value]="device.city.name"
            >
            </account-display-field>
            <mat-form-field>
                <mat-label>Placement</mat-label>
                <input matInput readonly type="text" value="{{device.placement}}">
                <mat-hint>e.g. Kitchen, Bedroom, Office</mat-hint>
            </mat-form-field>
        </mat-card-content>
   </mat-tab>
</mat-tab-group>
