<mat-card class="mat-elevation-z0" id="default-settings-card" [formGroup]="defaultsForm">
    <mat-card-title *ngIf="deviceSetup">Setup your device defaults</mat-card-title>
    <mat-card-title *ngIf="!deviceSetup">Manage your device defaults</mat-card-title>

    <mat-card-content>
        <p class="mat-body">Optional values used as defaults during device setup.</p>

        <h2 class="mat-h2">Geographical Location</h2>
        <div fxLayout="row wrap" fxLayoutAlign="space-around" fxLayout.xs="column">
            <account-country-input fxFlex.gt-xs="40"
                    [countries$]="countries$"
                    [deviceForm]="defaultsForm"
                    [required]="false"
                    (countrySelected)="onCountrySelect($event)"
            >
            </account-country-input>
            <account-region-input fxFlex.gt-xs="40"
                    [regions$]="regions$"
                    [deviceForm]="defaultsForm"
                    [required]="false"
                    (regionSelected)="onRegionSelect($event)"
            >
            </account-region-input>
            <account-city-input fxFlex.gt-xs="40"
                    [cities$]="cities$"
                    [deviceForm]="defaultsForm"
                    [required]="false"
                    (citySelected)="onCitySelect($event)"
            >
            </account-city-input>
            <account-timezone-input fxFlex.gt-xs="40"
                    [timezones$]="timezones$"
                    [deviceForm]="defaultsForm"
                    [required]="false"
            >
            </account-timezone-input>
        </div>

        <h2 class="mat-h2">Voice</h2>
        <account-option-buttons
                [config]="voiceOptionsConfig"
                [selectedOption]="defaultsForm.controls['voice'].value"
                (selectionChange)="changeVoice($event)"
        >
        </account-option-buttons>

        <h2 class="mat-h2">Wake Word</h2>
        <account-option-buttons
                [config]="wakeWordOptionsConfig"
                [selectedOption]="defaultsForm.controls['wakeWord'].value"
                (selectionChange)="changeWakeWord($event)"
        >
        </account-option-buttons>
    </mat-card-content>
    <mat-card-actions align="right" *ngIf="!deviceSetup">
        <button mat-button [disabled]="!defaultsForm.valid" (click)="onSave()">SAVE</button>
    </mat-card-actions>
</mat-card>

