<ng-container [ngSwitch]="setting.type">
    <p *ngSwitchCase="'label'" class="mat-body" [innerHTML]="setting.label"></p>
    <mat-form-field *ngSwitchCase="'select'" [appearance]="'outline'">
        <mat-label>{{setting.label}}</mat-label>
        <mat-select>
            <mat-option *ngFor="let option of setting.options" value="{{option.value}}">{{option.display}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-checkbox
            *ngSwitchCase="'checkbox'"
            [value]="setting.value"
            [checked]="setting.value === 'true'"
    >
        {{setting.label}}
    </mat-checkbox>
    <mat-form-field *ngSwitchCase="'text'" [appearance]="'outline'">
        <mat-label>{{setting.label}}</mat-label>
        <input matInput type="text">
    </mat-form-field>
    <button *ngSwitchCase="'oauth'" mat-button>Connect</button>
</ng-container>
