@import "@angular/material/theming";
@import "mycroft-colors";
@import "components/buttons";

mat-card {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;

    mat-card-title {
        color: mat-color($mycroft-primary);
        font-weight: bold;
    }
}

mat-form-field {
    max-width: 400px;
    min-width: 240px;
}

mat-button-toggle-group {
    @include options-button-group
}
