@import "../../../../../../../../../node_modules/@angular/material/theming";
@import "mycroft-colors";
@import "../../../../../../../../../src/stylesheets/components/buttons";

.mat-h2 {
    color: mat-color($mycroft-primary);
    font-weight: bold;
}

mat-card {
    margin-left: auto;
    margin-right: auto;

    max-width: 700px;
}

mat-form-field {
    max-width: 400px;
    min-width: 280px;
}

mat-button-toggle-group {
    @include options-button-group
}
