<mat-card class="mat-elevation-z0">
    <mat-card-title>What should we call you?</mat-card-title>
    <mat-card-content>
        <p class="mat-body">{{whyUsernameParagraph}}</p>
        <mat-form-field [appearance]="'outline'">
            <mat-label>Username</mat-label>
            <input matInput required type="text" [formControl]="usernameControl">
            <mat-error *ngIf="usernameControl.hasError('required')">
                Username is required
            </mat-error>
        </mat-form-field>
    </mat-card-content>
</mat-card>
