<ng-container *ngIf="preferences$ | async as preferences">
    <mat-card id="basic-settings-card">
        <mat-toolbar>
            <span class="section-card-title">Basic Settings</span>
        </mat-toolbar>
        <mat-card-content fxLayout="column">
            <div fxLayout="row" fxLayout.xs="column">
                <mat-label class="mat-subheading-2" fxFlex="25">Measurement System</mat-label>
                <mat-button-toggle-group [value]="preferences.measurementSystem">
                    <mat-button-toggle [value]="'Imperial'">Imperial</mat-button-toggle>
                    <mat-button-toggle [value]="'Metric'">Metric</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <mat-label class="mat-subheading-2" fxFlex="25">Time Format</mat-label>
                <mat-button-toggle-group [value]="preferences.timeFormat">
                    <mat-button-toggle [value]="'12 Hour'">12 Hour</mat-button-toggle>
                    <mat-button-toggle [value]="'24 Hour'">24 Hour</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <mat-label class="mat-subheading-2" fxFlex="25">Date Format</mat-label>
                <mat-button-toggle-group [value]="preferences.dateFormat">
                    <mat-button-toggle [value]="'DD/MM/YYYY'">DD/MM/YYYY</mat-button-toggle>
                    <mat-button-toggle [value]="'MM/DD/YYYY'">MM/DD/YYYY</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card id="default-settings-card">
        <mat-toolbar>
            <span>Defaults</span>
        </mat-toolbar>
        <account-device-geography [currentValue]="preferences.geography"></account-device-geography>
        <account-device-wake-word [currentValue]="preferences.wakeWord"></account-device-wake-word>
        <account-device-voice [currentValue]="preferences.voice"></account-device-voice>
    </mat-card>

    <mat-card id="advanced-settings-card">
        <mat-toolbar>
            <span class="section-card-title">Advanced Settings</span>
        </mat-toolbar>
        <div fxLayout="column" class="section-content">
            <div class="mat-body" *ngFor="let paragraph of advancedSettingsDesc">
                <p>{{paragraph}}</p>
            </div>
            <button mat-flat-button>VIEW DOCUMENTATION</button>
        </div>
    </mat-card>
</ng-container>
