<mat-card *ngIf="account.membership">
    <mat-card-header>
        <fa-icon [icon]="membershipIcon"></fa-icon>
    </mat-card-header>
    <mat-card-title>Mycroft thanks you!</mat-card-title>
    <mat-card-content>
        <p class="mat-body">
            Your support makes a big difference.  Thanks to you and other Mycroft supporters,
             we can continue building upon the Mycroft experience.  It is also motivating
            knowing there is a community of people who believe in the same things we do.
        </p>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="!account.membership">
    <mat-card-header>
        <fa-icon mat-card-avatar [icon]="membershipIcon"></fa-icon>
        <mat-card-title>Become a Member</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p class="mat-body">
            Mycroft's voice assistant software is open source, which means it is free to use and
            the underlying source code is available to the public.  Our entire platform is free
            of advertisements.  The data we collect, with your consent, is not sold to anyone.
        <p class="mat-body">
            For less than one cup of coffee a month, you can help with the costs of our servers,
            services, and ongoing development.  All of which all improve Mycroft's performance
            and user experience.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <a mat-button [href]="profileUrl">MEMBERSHIP OPTIONS</a>
    </mat-card-actions>
</mat-card>
