<img src="../assets/membership.svg">
<mat-card class="mat-elevation-z0">
    <mat-card-title>Become a Member</mat-card-title>
    <mat-card-content>
        <p *ngFor="let paragraph of membershipDescription" class="mat-body">
            {{paragraph}}
        </p>
        <button
            mat-button
            type="button"
            *ngFor="let membershipType of membershipTypes" (click)="openPaymentDialog(membershipType)"
        >
            {{membershipType.rate + '/' + membershipType.ratePeriod.toUpperCase() + ' (USD)'}}
        </button>
    </mat-card-content>
</mat-card>

