<div id="external-login" fxLayout="column" fxLayoutAlign="center center">
    <button mat-button id="google-button"  (click)="federatedSignIn('google')">
        <img src="../../../assets/google-logo.svg">
        Log in with Google
    </button>
    <button mat-button id="facebook-button" (click)="federatedSignIn('facebook')">
        <fa-icon [icon]="facebookIcon"></fa-icon>
        Continue with Facebook
    </button>
    <button mat-button id="github-button" (click)="federatedSignIn('github')">
        <fa-icon [icon]="githubIcon"></fa-icon>
        Log in with GitHub
    </button>
</div>
