<div fxLayout="row" fxLayoutAlign="center">
    <div
            id="add-device-button"
            fxFlex
            fxLayout="row"
            fxLayoutAlign="start center"
            routerLink="/devices/add"
    >
        <img src="../assets/generic-device-icon-white.svg">
        <span fxFlex class="mat-h2">ADD DEVICE</span>
        <fa-icon class="mat-h2" [icon]="addIcon"></fa-icon>
    </div>
</div>

<div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap.gt-xs="16px">
    <mat-card *ngFor="let device of devices; let i = index">
        <mat-card-header>
            <img mat-card-avatar [src]="getDeviceIcon(device)"/>
            <mat-card-title class="mat-h1">{{device.name}}</mat-card-title>
        </mat-card-header>
        <ng-container [ngSwitch]="device.status">
            <mat-card-subtitle
                    class="status-active"
                    matTooltip="Device is connected"
                    *ngSwitchCase="'Connected'"
            >
                {{device.status}}
            </mat-card-subtitle>
            <mat-card-subtitle
                    class="status-dormant"
                    matTooltip="Device disconnected for more than 30 days."
                    *ngSwitchCase="'Dormant'"
            >
                {{device.status}}
            </mat-card-subtitle>
            <mat-card-subtitle
                    class="status-inactive"
                    matTooltip="Device disconnected for {{device.disconnectDuration}}"
                    *ngSwitchDefault
            >
                {{device.status}}
            </mat-card-subtitle>
        </ng-container>
        <account-device-info [device]="device"></account-device-info>
        <mat-card-actions>
            <button id="edit-button" mat-flat-button [routerLink]="['./', device.id]">
                EDIT
            </button>
            <button id="remove-button" mat-flat-button (click)="onRemove(device, i)">
                REMOVE
            </button>
        </mat-card-actions>
    </mat-card>
</div>
