<mat-card>
    <mat-card-header>
        <fa-icon mat-card-avatar [icon]="addDeviceIcon"></fa-icon>
        <mat-card-title>Add Mycroft Device</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p class="mat-body">
            You just got your new device with Mycroft installed.  Congratulations!  Pairing your
            device with Mycroft's servers provides you with instant access to software updates,
            speech transcription, weather and other services.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <a mat-button [href]="addDeviceUrl">ADD DEVICE</a>
    </mat-card-actions>
</mat-card>
