<mat-card>
    <mat-card-header>
        <fa-icon mat-card-avatar [icon]="addDeviceIcon"></fa-icon>
        <mat-card-title>Add Mycroft Device</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p class="mat-body">
            You just got a new Mycroft device.  Congratulations!  Pairing your device with
            Mycroft's servers provides you with instant access to software updates, speech
            transcription, weather, answers to general queries, and other services.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <a mat-button [href]="addDeviceUrl">ADD DEVICE</a>
    </mat-card-actions>
</mat-card>
