<mat-card class="mat-elevation-z0">
    <h2 class="mat-h2">Become a Member</h2>
    <p *ngFor="let paragraph of membershipDescription" class="mat-body">
        {{paragraph}}
    </p>
    <account-membership-options
            [membershipTypes]="membershipTypes"
            (membershipChange)="onMembershipSelection($event)"
    >
    </account-membership-options>
</mat-card>

<mat-card class="mat-elevation-z0">
    <h2 class="mat-h2">Join Mycroft's Open Dataset</h2>
    <p *ngFor="let paragraph of openDatasetDescription" class="mat-body">
        {{paragraph}}
    </p>
    <mat-button-toggle-group>
        <mat-button-toggle (click)="onOptIn()">Opt Into the Mycroft Open Dataset</mat-button-toggle>
        <mat-button-toggle (click)="onOptOut()">Maybe Later</mat-button-toggle>
    </mat-button-toggle-group>
</mat-card>
