<mat-card>
    <mat-card-header>
        <fa-icon mat-card-avatar [icon]="loginIcon"></fa-icon>
        <mat-card-title>Login Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="row">
            <div fxFlex="50">
                <mat-card-subtitle>Email Address*</mat-card-subtitle>
                <p class="mat-body">{{account.emailAddress}}</p>
            </div>
            <div fxFlex="50">
                <mat-card-subtitle>Username</mat-card-subtitle>
                <p class="mat-body">{{account.username}}</p>
            </div>
        </div>
        <p class="mat-body">
            * Your email address uniquely identifies your account.  It will be used to send
            messages related to actions taken on your account, such as a password change request.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <a mat-button>CHANGE EMAIL ADDRESS</a>
        <a mat-button>CHANGE PASSWORD</a>
    </mat-card-actions>
</mat-card>
