<form fxLayout="column" [formGroup]="loginForm" (ngSubmit)="authorizeUser()">
    <mat-form-field [appearance]="'outline'">
        <mat-label>Email</mat-label>
        <input matInput required type="email" [formControl]="emailControl">
        <mat-error *ngIf="emailControl.hasError('email') && !emailControl.hasError('required')">
            Must be a valid email address
        </mat-error>
        <mat-error *ngIf="emailControl.hasError('required')">
            Email is required
        </mat-error>
    </mat-form-field>
    <mat-form-field [appearance]="'outline'">
        <mat-label>Password</mat-label>
        <input matInput required type="password" [formControl]="passwordControl">
        <mat-error *ngIf="passwordControl.hasError('required')">
            Password is required
        </mat-error>
    </mat-form-field>
    <button mat-button type="submit">LOG IN</button>
</form>
<div fxLayout="row" fxLayoutAlign="center">
    <button mat-button (click)="onPasswordReset()">Forgot password?</button>
</div>
