<mat-card>
    <mat-toolbar>
        <span>Login</span>
    </mat-toolbar>
    <div fxLayout.gt-sm="row" fxLayout="column">
        <mat-form-field fxFlex.gt-sm="50%" appearance="outline">
            <mat-label>Email Address</mat-label>
            <input
                matInput
                required
                type="email"
                value="{{account.emailAddress}}"
            >
            <mat-hint>Uniquely identifies your account</mat-hint>
        </mat-form-field>
    </div>
</mat-card>
