@import "~@angular/material/theming";
@import "mycroft-colors";
@import "components/buttons";

mat-expansion-panel {
    border-radius: 10px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;

    fa-icon {
        color: mat-color($mycroft-primary);
        font-size: 24px;
        margin-right: 16px;
    }

    mat-panel-title {
        color: mat-color($mycroft-accent, A700);
        font-weight: bold;
        margin: 0;
    }

    #marketplace-button {
        @include action-button-primary;
        margin-top: 16px;
        margin-left: 16px;
        margin-right: 16px;
    }

    #remove-button {
        @include  action-button-warn;
    }


}
