@import "~@angular/material/theming";
@import "mycroft-colors";

/* Split the screen in half */
@mixin half-screen {
    height: 50%;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    position: fixed;
    width: 100%;
    z-index: -1;
}

/* Top Half */
#top-half {
    @include half-screen;
    top: 0;
    background-color: mat-color($mycroft-primary);
}

/* Bottom Half */
#bottom-half {
    @include half-screen;
    bottom: 0;
    background-color: #e5e5e5;
}

img {
    margin-top: 3vh;
    margin-left: 32px;
    margin-right: 32px;
    max-width: 600px;
}
