@import "../../../../../../../../../node_modules/@angular/material/theming";
@import "mycroft-colors";

mat-card {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;

    mat-card-title {
        color: mat-color($mycroft-primary)
    }

    .mat-subheading-2 {
        color: mat-color($mycroft-accent, A700)
    }

    p {
        margin-left: 16px;
    }
}
