<mat-card class="mat-elevation-z0">
    <mat-card-title>Your device is ready!</mat-card-title>
    <mat-card-content>
        <h2 class="mat-h2">Here are some example questions and commands:</h2>
        <h3 class="mat-subheading-2">{{wakeWord}}...</h3>
        <p class="mat-body">Who is Abraham Lincoln?</p>
        <p class="mat-body">What is the latest news?</p>
        <p class="mat-body">Set a timer for ten minutes.</p>
        <p class="mat-body">Set an alarm for eight o'clock tomorrow morning.</p>
    </mat-card-content>
</mat-card>
