<mat-card fxLayout.gt-sm="row" fxLayoutAlign="center center" class="mat-elevation-z0" [formGroup]="newAcctForm.get('login')">
    <!-- Federated Log In Controls -->
    <mat-card>
        <h2 class="mat-h2">Log In Using...</h2>
        <p>{{federatedLoginText}}</p>
        <div fxLayout="column">
            <shared-google-button></shared-google-button>
            <shared-facebook-button (facebookEmail)="onFacebookLogin($event)"></shared-facebook-button>
            <shared-github-button></shared-github-button>
        </div>
    </mat-card>

    <h1 class="mat-h1">OR</h1>

    <!-- Mycroft Log In Controls-->
    <mat-card>
        <h2 class="mat-h2">Email and Password</h2>
        <p>{{internalLoginText}}</p>
        <div fxLayout="column">
            <mat-form-field>
                <mat-label>Email Address</mat-label>
                <input matInput type="email" formControlName="emailAddress">
                <!--<mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">-->
                    <!--Must be a valid email address-->
                <!--</mat-error>-->
                <!--<mat-error *ngIf="emailFormControl.hasError('required')">-->
                    <!--Email is required-->
                <!--</mat-error>-->
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
                <!--<mat-error *ngIf="passwordFormControl.hasError('required')">-->
                    <!--Password is required-->
                <!--</mat-error>-->
            </mat-form-field>
        </div>
    </mat-card>
</mat-card>
