<mat-card>
    <mat-toolbar>
        <span>Agreements</span>
    </mat-toolbar>
    <mat-card-content fxLayout="column" fxLayoutAlign="start none">
        <ng-container *ngFor="let agreement of account.agreements">
            <div *ngIf="agreement.type !== 'Open Dataset'" class="profile-text" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center">
                <span class="mat-subheading-2">{{agreement.type}}:</span>
                <p class="mat-body">Accepted {{agreement.acceptDate}}</p>
            </div>
        </ng-container>
        <!--<div fxLayout="row" fxLayoutAlign="start center">-->
            <!--<span class="mat-subheading-2">Username:</span>-->
            <!--<p class="mat-body">{{agreement.username}}</p>-->
        <!--</div>-->
        <!--<div fxLayout="column" fxLayoutAlign="center">-->
            <!--<button mat-button>CHANGE USERNAME</button>-->
            <!--<button mat-button>CHANGE PASSWORD</button>-->
        <!--</div>-->
    </mat-card-content>
</mat-card>
