<mat-card>
    <mat-card-header>
        <fa-icon mat-card-avatar [icon]="agreementIcon"></fa-icon>
        <mat-card-title>Agreements</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="row">
            <ng-container *ngFor="let agreement of account.agreements">
                <div *ngIf="agreement.type !== 'Open Dataset'" fxFlex="50">
                    <mat-card-subtitle>
                        {{agreement.type}}
                    <a mat-icon-button color="primary" target="_blank" href="{{buildAgreementUrl(agreement.type)}}">
                        <fa-icon [icon]="documentIcon"></fa-icon>
                    </a>
                    </mat-card-subtitle>
                    <p class="mat-body">Accepted {{agreement.acceptDate}}</p>
                </div>
            </ng-container>
        </div>
    </mat-card-content>
</mat-card>
