<h1 mat-dialog-title>Thank you for supporting Mycroft!</h1>
<mat-dialog-content>
    <p class="mat-body">
        Your membership directly helps to improve Mycroft's technology and user experience.
    </p>
    <p class="mat-body">
        Please enter your payment information below.  Your credit card information is
        sent to the payment service and not stored on Mycroft's servers.
    </p>
    <div class="stripe-card">
        <ngx-stripe-card [options]="cardOptions"></ngx-stripe-card>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="submitPaymentInfo()" class="submit-button">SUBMIT</button>
    <button mat-button (click)="onCancel()">CANCEL</button>
</mat-dialog-actions>
