@import "~@angular/material/theming";
@import "mycroft-colors";

mat-card {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;

    mat-card-title {
        color: mat-color($mycroft-primary)
    }
}
