<mat-card class="mat-elevation-z0">
    <mat-card-title>Verify your pairing code</mat-card-title>
    <mat-card-content>
        <p>Enter the code spoken by your device:</p>
        <mat-form-field [appearance]="'outline'">
            <mat-label>Pairing Code</mat-label>
            <input
                    matInput
                    required
                    type="text"
                    onInput="this.value = this.value.toUpperCase()"
                    [formControl]="pairingCodeControl"
            >
            <mat-hint>Six alphanumeric characters</mat-hint>
        </mat-form-field>
    </mat-card-content>
</mat-card>
