@import "~@angular/material/theming";
@import "mycroft-colors";
@import "~src/stylesheets/components/buttons";

h2 {
    margin-left: 16px;
    margin-bottom: 0;
    color: mat-color($mycroft-primary);
    font-weight: bold;
}

mat-card {
    height: 60vh;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    mat-card-content {
        max-height: 85%;
        overflow-y: auto;
    }

    mat-card-actions {
        padding-right: 8px;
    }

}

button {
    @include action-button-primary;
    width: 120px;
}

.accepted-button {
    background-color: mat-color($mycroft-accent, A100);
}
