@import "~@angular/material/theming";
@import "mycroft-colors";
@import "~src/stylesheets/components/buttons";

.mat-action-row {
    padding-right: 0;
    padding-bottom: 0;
}

#save-button {
    @include  action-button-primary;

    &:disabled {
        background-color: mat-color($mycroft-accent, 100);
        color: mat-color($mycroft-accent);
    }
}

.mat-h2 {
    color: mat-color($mycroft-primary);
    font-weight: bold;
    margin-left: 16px;
    margin-top: 32px;
}

.mat-body {
    margin-left: 16px;
}
