<ng-container [ngSwitch]="fieldDefinition.type">
    <p *ngSwitchCase="'label'" class="mat-body" [innerHTML]="fieldDefinition.label"></p>

    <mat-form-field *ngSwitchCase="'select'" [appearance]="'outline'">
        <mat-label>{{fieldDefinition.label}}</mat-label>
        <mat-select [value]="fieldValue" (valueChange)="onSelectChange($event)">
            <mat-option *ngFor="let option of fieldDefinition.options" value="{{option.value}}">
                {{option.display}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-checkbox
            *ngSwitchCase="'checkbox'"
            [value]="fieldValue"
            [checked]="fieldValue === true"
            (change)="onCheckboxChange($event)"
    >
        {{fieldDefinition.label}}
    </mat-checkbox>

    <mat-form-field *ngSwitchCase="'text'" [appearance]="'outline'">
        <mat-label>{{fieldDefinition.label}}</mat-label>
        <input matInput type="text" value="{{fieldValue}}" (change)="onTextChange($event)">
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'number'" [appearance]="'outline'">
        <mat-label>{{fieldDefinition.label}}</mat-label>
        <input matInput type="number" value="{{fieldValue}}" (change)="onNumberChange($event)">
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'email'" [appearance]="'outline'">
        <mat-label>{{fieldDefinition.label}}</mat-label>
        <input matInput type="email" value="{{fieldValue}}" (change)="onTextChange($event)">
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'password'" [appearance]="'outline'">
        <mat-label>{{fieldDefinition.label}}</mat-label>
        <input matInput type="password" value="{{fieldValue}}" (change)="onTextChange($event)">
    </mat-form-field>

    <button *ngSwitchCase="'oauth'" mat-button (click)="onSkillOauth()">Connect</button>
</ng-container>
