@import "~@angular/material/theming";
@import "mycroft-colors";
@import "components/buttons";
iframe {
    min-width: 350px;
    width: 100%;
    height: 100vh;
}

#dashboard {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
mat-card {
    min-height: 540px;
    margin: 16px;
    max-width: 540px;
    min-width: 300px;

    fa-icon {
        font-size: 60px;
        color: mat-color($mycroft-primary)
    }

    mat-card-title {
        font-size: 40px;
        font-weight: bolder;
        padding: 16px;
    }

    mat-card-content {
        padding: 16px;

        .mat-body {
            font-size: 16px;
        }
    }

    mat-card-actions {
        padding: 16px;

        a {
            @include action-button-primary;
            margin: 8px;
        }
    }
}
