@use "@angular/material" as mat;
@use "mycroft-theme" as theme;

mat-card {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;

    mat-card-title {
        color: mat.get-color-from-palette(theme.$mycroft-primary, 500);
    }

    mat-card {
        height: 300px;
        max-width: 400px;

        .mat-h2 {
            color: mat.get-color-from-palette(theme.$mycroft-accent, A700);
            font-size: 20px;
        }
        #federated-error {
            color: mat.get-color-from-palette(theme.$mycroft-warn, 500);
        }
    }

    .mat-h1 {
        color: mat.get-color-from-palette(theme.$mycroft-primary, 500);
        padding: 32px;
    }
}


