<mat-card class="mat-elevation-z0" [formGroup]="loginForm">
    <mat-card-title>Choose your preferred login method...</mat-card-title>
    <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">

        <!-- Federated Log In Controls -->
        <mat-card class="mat-elevation-z0">
            <h2 class="mat-h2">Log In With...</h2>
            <p class="mat-body">{{federatedLoginText}}</p>
            <sso-google-button (googleToken)="onFederatedLogin($event)"></sso-google-button>
            <sso-facebook-button (facebookToken)="onFederatedLogin($event)"></sso-facebook-button>
            <sso-github-button [newAccount]="true"></sso-github-button>
            <p [hidden]="!federatedErrorMessage" id="federated-error" class="mat-body">
                {{federatedErrorMessage}}
            </p>
        </mat-card>

        <h1 class="mat-h1">OR</h1>

        <!-- Mycroft Log In Controls-->
        <mat-card class="mat-elevation-z0">
            <h2 class="mat-h2">Email and Password</h2>
            <p class="mat-body">{{internalLoginText}}</p>
            <div fxLayout="column" fxLayoutGap="8px">
                <sso-email-input [formGroup]="loginForm" [readOnly]="disableInternal">
                </sso-email-input>
                <sso-password-input [formGroup]="loginForm" [readOnly]="disableInternal">
                </sso-password-input>
            </div>
        </mat-card>
    </mat-card-content>
</mat-card>
