@import "~@angular/material/theming";
@import "mycroft-colors";
@import "components/buttons";

mat-card {
    height: 700px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    mat-card-title {
        color: mat-color($mycroft-primary);
        font-size: 48px;
        font-weight: bolder;
        text-align: center;
        padding: 16px;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
    }

    mat-card-content {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 24px;
    }

    mat-card-actions {
        padding: 16px;

        a {
            @include action-button-primary;
            margin: 8px;
        }
    }
}
