@import '~@angular/material/theming';
@import '~src/stylesheets/mycroft-colors';
@import '~src/stylesheets/components/buttons';

@mixin panel-defaults {
    border-radius: 12px;
    width: 330px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}

#add-device-button {
    @include action-button-primary;
    @include panel-defaults;
    cursor: pointer;
    height: 50px;
    margin-top: 32px;

    fa-icon {
        color: mat-color($mycroft-accent, 'A200');
        margin-right: 16px;
    }

    img {
        height: 32px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .mat-h2 {
        margin-bottom: 0;
    }

}

mat-card {
    @include panel-defaults;

    button {
        margin-bottom: 8px;
        margin-left: 8px;
        margin-right: 8px;
    }

    mat-card-content {
        margin-top: 32px;
    }

    mat-card-title {
        color: mat-color($mycroft-primary, 700);
        font-weight: bold;

        img {
            height: 60px;
            margin-right: 16px;
        }
    }

    mat-divider {
        margin-left: 16px;
        width: 90%;
    }

    mat-label {
        color: mat-color($mycroft-primary);
    }

}

mat-expansion-panel {
    @include panel-defaults;
    margin-bottom: 16px;

    button {
        margin-left: 16px;
    }

    fa-icon {
        padding-right: 10px
    }

    img {
        height: 60px;
    }

    mat-form-field {
        margin-bottom: 20px;
        max-width: 320px;
    }

    .mat-body-primary {
        color: mat-color($mycroft-primary);
        margin-bottom: 0;
    }

    .mat-h2 {
        margin-bottom: 0;
    }

    .mat-subheader {
        padding: 0;
    }

    .static-data {
        margin-top: 16px;
    }
}
