    <div id="add-device-button" fxLayout="row" fxLayoutAlign="start center">
        <img src="../assets/generic-device-icon-blue.svg">
        <span fxFlex class="mat-h2">ADD DEVICE</span>
        <fa-icon class="mat-h2" [icon]="addIcon"></fa-icon>
    </div>

    <div fxLayout="row wrap" fxLayoutGap.gt-xs="16px">
        <mat-card *ngFor="let device of devices$ | async">
            <mat-card-title fxLayout="row" fxLayoutAlign="start center">
                <img [src]="getDeviceIcon(device)"/>
                {{device.name}}
            </mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="16px">
                <mat-form-field fxFlex="50">
                    <mat-label>Location</mat-label>
                    <input matInput readonly type="text" value="{{device.location.name}}">
                </mat-form-field>
                <mat-form-field fxFlex="40">
                    <mat-label>Platform</mat-label>
                    <input matInput readonly type="text" value="{{getPlatform(device)}}">
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <mat-label>Placement</mat-label>
                    <input matInput readonly type="text" value="{{device.placement.name}}">
                </mat-form-field>
                <mat-form-field fxFlex="40">
                    <mat-label>Core Version</mat-label>
                    <input matInput readonly type="text" value="{{device.coreVersion}}">
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <mat-label>Voice</mat-label>
                    <input matInput readonly type="text" value="{{device.voice.name}}">
                </mat-form-field>
                <mat-form-field fxFlex="40">
                    <mat-label>Enclosure Version</mat-label>
                    <input matInput readonly type="text" value="{{device.enclosureVersion}}">
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <mat-label>Wake Word</mat-label>
                    <input matInput readonly type="text" value="{{device.wakeWord.name}}">
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button color="warn" (click)="onRemovalClick(device)">
                    REMOVE
                </button>
                <button mat-flat-button color="primary">
                    EDIT
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
