<mat-card class="mat-elevation-z0" id="default-settings-card" [formGroup]="defaultsForm">
    <mat-card-title *ngIf="deviceSetup">Setup your device defaults</mat-card-title>
    <mat-card-title *ngIf="!deviceSetup">Manage your device defaults</mat-card-title>
    <mat-card-content>
        <p class="mat-body">Optional values used as defaults during device setup.</p>

        <h2 class="mat-h2">Geographical Location</h2>
        <mat-form-field [appearance]="'outline'">
            <mat-label>Country</mat-label>
            <input
                    matInput
                    type="text"
                    formControlName="country"
                    [matAutocomplete]="countryComplete"
                    (focus)="getCountries()"
            >
            <mat-autocomplete #countryComplete="matAutocomplete">
                <mat-option *ngFor="let country of filteredCountries$ | async" [value]="country.name">
                    {{country.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field [appearance]="'outline'">
            <mat-label>Region</mat-label>
            <input
                    matInput
                    type="text"
                    formControlName="region"
                    [matAutocomplete]="regionComplete"
                    (focus)="getRegions()"
            >
            <mat-autocomplete #regionComplete="matAutocomplete">
                <mat-option *ngFor="let region of filteredRegions$ | async" [value]="region.name">
                    {{region.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
         <mat-form-field [appearance]="'outline'">
            <mat-label>City</mat-label>
            <input
                    matInput
                    type="text"
                    formControlName="city"
                    [matAutocomplete]="cityComplete"
                    (focus)="getCities()"
            >
            <mat-autocomplete #cityComplete="matAutocomplete">
                <mat-option *ngFor="let city of filteredCities$ | async" [value]="city.name">
                    {{city.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
         <mat-form-field [appearance]="'outline'">
            <mat-label>Time Zone</mat-label>
            <input
                    matInput
                    type="text"
                    formControlName="timezone"
                    [matAutocomplete]="timezoneComplete"
                    (focus)="getTimezones()"
            >
            <mat-autocomplete #timezoneComplete="matAutocomplete">
                <mat-option *ngFor="let timezone of filteredTimezones$ | async" [value]="timezone.name">
                    {{timezone.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <h2 class="mat-h2">Voice</h2>
        <account-option-buttons
                [config]="voiceOptionsConfig"
                [selectedOption]="defaultsForm.controls['voice'].value"
                (selectionChange)="changeVoice($event)"
        >
        </account-option-buttons>

        <h2 class="mat-h2">Wake Word</h2>
        <account-option-buttons
                [config]="wakeWordOptionsConfig"
                [selectedOption]="defaultsForm.controls['wakeWord'].value"
                (selectionChange)="changeWakeWord($event)"
        >
        </account-option-buttons>
    </mat-card-content>
</mat-card>

