@import "~@angular/material/theming";
@import "mycroft-colors";
@import "components/buttons";
@import "components/cards";

mat-card {
    @include section-card;
    max-width: 700px;

    mat-card-title {
        color: mat-color($mycroft-primary)
    }

    .mat-h2 {
        color: mat-color($mycroft-accent, A700);
        margin-top: 32px;
    }

    mat-form-field {
        max-width: 280px;
    }
}
