<mat-card *ngIf="!accountMembership">
    <mat-card-header>
        <fa-icon mat-card-avatar [icon]="membershipIcon"></fa-icon>
        <mat-card-title>Membership Status</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p class="mat-body">
            You are not subscribed to Mycroft's membership program.
        <p class="mat-body">
            If would like to become a member, select one of the below options.
            Supporting Mycroft with a membership helps keep Mycroft's services open and available.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button *ngFor="let membershipType of membershipTypes" (click)="openPaymentDialog(membershipType)">
            {{membershipType.rate + '/' + membershipType.ratePeriod.toUpperCase() + ' (USD)'}}
        </button>
    </mat-card-actions>
</mat-card>

<mat-card *ngIf="accountMembership">
    <mat-card-header>
        <fa-icon mat-card-avatar [icon]="membershipIcon"></fa-icon>
        <mat-card-title>Membership Status</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p *ngIf="accountMembership.duration" class="mat-body">
            Proudly supporting Mycroft for {{accountMembership.duration}}!
        </p>
        <p *ngIf="!accountMembership.duration" class="mat-body">
            Thank you for supporting Mycroft with your membership!
        </p>
        <p class="mat-body">
            You can cancel your membership at any time.  You can also update your credit card
            information.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <a mat-button id="cancel-button" (click)="openCancelConfirmDialog()">CANCEL MEMBERSHIP</a>
    </mat-card-actions>
</mat-card>
