<mat-card-content fxLayout="row wrap">
    <account-display-field fxFlex="50" [label]="'Voice'" [value]="device.voice.name">
    </account-display-field>
    <account-display-field fxFlex="50" [label]="'Wake Word'" [value]="device.wakeWord.name">
    </account-display-field>
    <account-display-field fxFlex="33" [label]="'Platform'" [value]="device.platform">
    </account-display-field>
    <account-display-field fxFlex="33" [label]="'Core Version'" [value]="device.coreVersion">
    </account-display-field>
    <account-display-field fxFlex="33" [label]="'Enclosure Version'" [value]="device.enclosureVersion">
    </account-display-field>
</mat-card-content>
