@import "~@angular/material/theming";
@import 'mycroft-colors';

#login-options {
    background-color: mat-contrast($mycroft-primary, 500);
    border-radius: 10px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    width: 320px;
}

.mat-subheading-2 {
    color: mat-color($mycroft-accent, A700);
    margin-bottom: -15px;
    text-align: center;
}
