@import "~@angular/material/theming";
@import 'mycroft-colors';
@import "components/buttons";

mat-card {
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    min-width: 320px;

    mat-card-title {
        color: mat-color($mycroft-primary);
        padding: 16px;
    }

    mat-card-content {
        padding: 16px;

        mat-form-field {
            width: 320px;
        }
    }

    mat-card-actions {
        padding: 16px;

        button {
            @include action-button-primary;
            margin-bottom: 16px;
        }
    }

    button {
        @include action-button-primary;
        margin-top: 16px;
    }
}
