<ng-container *ngIf="account$ | async as account">
    <mat-card *ngIf="account.accountId">
        <mat-card-title>Change your password</mat-card-title>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>New Password</mat-label>
                <input matInput required type="password" [formControl]="passwordControl">
                <mat-error *ngIf="passwordControl.hasError('required')">
                    Password is required
                </mat-error>
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="start">
                <button
                        mat-button
                        [disabled]="passwordControl.invalid"
                        (click)="onChangePassword(account.accountId)"
                >
                    SUBMIT
                </button>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="account.tokenExpired">
        <mat-card-title>Your request expired...</mat-card-title>
        <mat-card-content>
            Password reset requests expire one hour after they are issued.  You can still reset your
            password.  Just issue a new request by clicking the button below.
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="onPasswordReset()">
                RESET PASSWORD
            </button>
        </mat-card-actions>
    </mat-card>

    <mat-card *ngIf="account.tokenInvalid">
        <mat-card-title>We looked everywhere...</mat-card-title>
        <mat-card-content>
            Sorry, but we could not find the account associated with this password
            reset request.  You can submit another request by clicking the button below.
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="onPasswordReset()">
                RESET PASSWORD
            </button>
        </mat-card-actions>
    </mat-card>
</ng-container>
