<h2 mat-dialog-title>Reset Your Password</h2>
<div mat-dialog-content>
    <p class="mat-body">
        A message containing password reset instructions will be sent to the email address entered below:
    </p>
    <mat-form-field [appearance]="'outline'">
        <mat-label>Email</mat-label>
        <input matInput required type="email" [formControl]="dialogData">
        <mat-error *ngIf="dialogData.hasError('email') && !dialogData.hasError('required')">
            Must be a valid email address
        </mat-error>
        <mat-error *ngIf="dialogData.hasError('required')">
            Email is required
        </mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button id="cancel-button" (click)="onCancelClick()">CANCEL</button>
    <button mat-button id="submit-button" [disabled]="!dialogData.valid" [matDialogClose]="dialogData.value">
        SUBMIT
    </button>
</div>
