<!--
    Editable device attribute fields

    There are a bunch of conditional fields in this form because it is re-used for four
    different purposes.  Not all of the use cases need all the fields.  However, the forms are
    similar enough that it made sense to include all four use cases in a single component to avoid
    a bunch of duplicate code.
-->
<mat-card class="mat-elevation-z0" id="default-settings-card" [formGroup]="deviceForm">
    <ng-container [ngSwitch]="action">
        <mat-card-title *ngSwitchCase="'default setup'">Setup your device defaults</mat-card-title>
        <mat-card-title *ngSwitchCase="'default edit'">Manage your device defaults</mat-card-title>
        <mat-card-title *ngSwitchCase="'device setup'">Configure your new device</mat-card-title>
        <mat-card-title *ngSwitchDefault>Change device configuration</mat-card-title>
    </ng-container>

    <!-- Device name and placement -->
    <mat-card-content
            *ngIf="action.startsWith('device')"
            fxLayout="column"
            fxLayoutAlign="space-around"
            fxLayout.xs="column"
    >
        <mat-form-field *ngIf="action === 'device setup'" [appearance]="'outline'">
            <mat-label>Pairing Code</mat-label>
            <input
                    matInput
                    required
                    type="text"
                    onInput="this.value = this.value.toUpperCase()"
                    formControlName="pairingCode"
            >
            <mat-hint>Code spoken by device</mat-hint>
        </mat-form-field>
        <mat-form-field fxFlex.gt-xs="40" [appearance]="'outline'">
            <mat-label>Name</mat-label>
            <input matInput required type="text" formControlName="name">
            <mat-hint>Must be unique</mat-hint>
        </mat-form-field>
        <mat-form-field fxFlex.gt-xs="40" [appearance]="'outline'">
            <mat-label>Placement</mat-label>
            <input matInput type="text" formControlName="placement">
            <mat-hint>e.g. Kitchen, Bedroom, Office</mat-hint>
        </mat-form-field>
    </mat-card-content>

    <!-- Geographical location -->
    <mat-card-content>
        <p *ngIf="action.startsWith('default')" class="mat-body">
            Optional values used as defaults during device setup.
        </p>

        <h2 class="mat-h2">Geographical Location</h2>
        <div fxLayout="row wrap" fxLayoutAlign="space-around" fxLayout.xs="column">
            <account-country-input fxFlex.gt-xs="40"
                    [countries$]="countries$"
                    [deviceForm]="deviceForm"
                    [required]="action.startsWith('device')"
                    (countrySelected)="onCountrySelect($event)"
            >
            </account-country-input>
            <account-region-input fxFlex.gt-xs="40"
                    [regions$]="regions$"
                    [deviceForm]="deviceForm"
                    [required]="action.startsWith('device')"
                    (regionSelected)="onRegionSelect($event)"
            >
            </account-region-input>
            <account-city-input fxFlex.gt-xs="40"
                    [cities$]="cities$"
                    [deviceForm]="deviceForm"
                    [required]="action.startsWith('device')"
                    (citySelected)="onCitySelect($event)"
            >
            </account-city-input>
            <account-timezone-input fxFlex.gt-xs="40"
                    [timezones$]="timezones$"
                    [deviceForm]="deviceForm"
                    [required]="action.startsWith('device')"
            >
            </account-timezone-input>
        </div>

        <h2 class="mat-h2">Voice</h2>
        <account-option-buttons
                [config]="voiceOptionsConfig"
                [selectedOption]="deviceForm.controls['voice'].value"
                (selectionChange)="changeVoice($event)"
        >
        </account-option-buttons>

        <h2 class="mat-h2">Wake Word</h2>
        <account-option-buttons
                [config]="wakeWordOptionsConfig"
                [selectedOption]="deviceForm.controls['wakeWord'].value"
                (selectionChange)="changeWakeWord($event)"
        >
        </account-option-buttons>
    </mat-card-content>
    <mat-card-actions align="right" *ngIf="action === 'default edit'">
        <button mat-button [disabled]="!deviceForm.valid" (click)="onSave()">SAVE</button>
    </mat-card-actions>
</mat-card>

