<mat-card>
    <mat-card-header>
        <fa-icon mat-card-avatar [icon]="changePasswordIcon"></fa-icon>
        <mat-card-title>Change your password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field appearance="outline">
            <mat-label>New Password</mat-label>
            <input matInput required [type]="showPassword ? 'text' : 'password'" [formControl]="passwordControl">
            <mat-error *ngIf="passwordControl.hasError('required')">
                Password is required
            </mat-error>
        </mat-form-field>
        <button mat-icon-button (click)="showHidePassword()">
            <fa-icon [icon]="showPassword ? showIcon : hideIcon"></fa-icon>
        </button>
    </mat-card-content>
    <mat-card-actions>
        <button
                mat-button
                id="submit-button"
                [disabled]="passwordControl.invalid"
                (click)="onChangePassword()"
        >
            SUBMIT
        </button>
        <button mat-button id="cancel-button" (click)="onCancel()">CANCEL</button>
    </mat-card-actions>
</mat-card>
