<mat-card>
    <mat-toolbar>
        <span>Support Mycroft</span>
    </mat-toolbar>
    <mat-card-content fxLayout="column" fxLayoutAlign="center center">
        <span>Mycroft supporters gain access to premium services, such as voices.</span>
        <shared-membership-options [accountMembership]="accountMembership.type"></shared-membership-options>
        <span *ngIf="accountMembership.duration" id="subscription-date" class="mat-body">
            Proudly supporting Mycroft for {{accountMembership.duration}}!
        </span>
    </mat-card-content>
</mat-card>

