@import "../../../../../../../node_modules/@angular/material/theming";
@import "../../../../../../../src/stylesheets/components/buttons";

mat-card {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;

    h1 {
        color: mat-color($mycroft-primary);
    }

    button {
        @include action-button-primary;
        margin-top: 16px;
    }
}
